@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

.wrapper {
  background-image: url("background-night.png");
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #fff;
  border-radius: 8px;
  max-width: 50vw;
  height: 100vh;
  max-height: 80vh;
  min-width: 600px;
  display: block;
  margin: 50px auto;
  opacity: 90%;
}

.App {
  font-family: 'Ubuntu Mono', monospace;
  text-align: left;
  color: #fff;
}
