@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");

.wrapper {
  background: linear-gradient(to top, #dfe9f3 0%, white 100%);
  border: 1px solid #fff;
  border-radius: 8px;
  margin: 0 auto;
  max-width: 900px;
  display: block;
  text-transform: capitalize;
}

.App {
  font-family: "Nanum Gothic", sans-serif;
  text-align: left;
  color: #34094d;
}
