
.SearchEngine h1 {
    font-size: 3em;
}

.SearchEngine h2 {
    font-size: 1.3em;
}

.SearchEngine .Header img {
    width: 8em;
}

.SearchEngine .Temperature span {
    font-size: 6em;
}

.SearchEngine .SearchEngine-Input{
    border: 1px solid #bbbec4;
}
.SearchEngine .SearchEngine-Submit {
    color: #fff;
    background: #352f3a;
    border: 1px solid #352f3a;;
}

.SearchEngine .SearchEngine-Submit:hover {
    background: #fff;
    color: #352f3a;
    border: 1px solid #bbbec4;
    transition: 100ms ease-in-out;
    cursor: pointer;
}

.SearchEngine .Description {
    text-transform: capitalize;
    list-style: none;
    font-size: 1.3em;
    padding: 0;
}
