@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

.SearchEngine h1 {
    color: #8a663f;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 3.5em;
}

.SearchEngine .SearchEngine-Input{
    border: 1px solid #bbbec4;
}
.SearchEngine .SearchEngine-Submit {
    color: #fff;
    background: #8a663f;
    border: 1px solid #8a663f;;
}

.SearchEngine .SearchEngine-Submit:hover {
    background: #8a663f;
    color: #fff;
    border: 1px solid #bbbec4;
    transition: 100ms ease-in-out;
    cursor: pointer;
}

.SearchEngine li {
    list-style: none;
}

.SearchEngine .Subtitle {
    text-align: center;
    font-size: 2em;
}
.SearchEngine .description {
    text-transform: capitalize;
    list-style: none;
    font-size: 1em;
}